<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA7cbOnvel2G0_MDZtxXmukZXwqxS2Z1QI</string>
	<key>GCM_SENDER_ID</key>
	<string>62167436960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dm.youtube</string>
	<key>PROJECT_ID</key>
	<string>clone-8e7c2</string>
	<key>STORAGE_BUCKET</key>
	<string>clone-8e7c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62167436960:ios:b04af1885efd3c929083c5</string>
</dict>
</plist>